.character {
    display: inline-flex;
    flex-direction: column;
    border: 6px solid gold;
    border-radius: 6px; 
}

.character__image {
    width: 20rem;
    height: 25rem;
    object-fit: cover;
}

.character__controls {
    display: flex;
}

.character__controls button {
    flex-grow: 1;
    margin: 0;
    padding: 1.5rem 2rem;
    border: 0;
    font-size: 1.6rem;
    background: none;
}
